.attendees > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem 0;
}

.attendees-card {
  flex: 2 2 240px;
  background-color:rgb(232, 239, 234);
  padding: 1.5rem;
  border-radius: 40px;
  box-shadow: 3px 2px 8px rgba(23, 21, 21, 0.08);
  transition: transform 0.3s ease;
}

.attendees-card:hover {
  transform: translateY(-5px);
}

.attendees-card h3 {
  margin-top: 0;
  font-size: 1.0rem;
  color: #006c4e;
  text-align:center;
}

.attendees-card p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  text-align: center;
  color: #333;
}
