.theme > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem 0;
}

.theme-card {
  flex: 1 1 250px;
  background-color:rgb(193, 225, 205);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 3px 2px 8px rgba(23, 21, 21, 0.08);
  transition: transform 0.3s ease;
}

.theme-card:hover {
  transform: translateY(-5px);
}

.theme-card h3 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #006c4e;
  text-align:center;
}

.theme-card p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  text-align: center;
  color: #333;
}
.theme-container {
  background-color: #e6f4ea; /* Very light green */
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 64, 0, 0.05); /* soft green shadow */
  max-width: 100%;
  margin: 0 auto;
}